/* Base styles */
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: blueviolet;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 70px;
    -webkit-text-stroke: 1px #00ffcc; /* Outline */
    text-shadow: 0 0 10px #00ffcc; /* Glow effect */
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 1px #00ffcc; /* Outline */
    text-shadow: 0 0 10px #00ffcc; /* Glow effect */
}

header {
    background-color: black;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    -webkit-text-stroke: 1px #00ffcc; /* Outline */
    text-shadow: 0 0 10px #00ffcc; /* Glow effect */
}

.nav a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
}

hr {
    border: none;
    height: 4px;
    background-color: #00ffcc;
    box-shadow: 0px 0px 10px #00ffcc;
  }

hr {
    border: none;
    height: 4px;
    background-color: #00ffcc;
    box-shadow: 0px 0px 10px #00ffcc;
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Centers the line and adds space above and below */
    border-radius: 2px; /* Optional: Makes the edges rounded */
  }

.center-island {
    width: 80%;
    margin: 20px auto;
    padding: 20px; 
    background-color: #ffffff;
    border: 2px solid #00ffcc;
    box-shadow: 0px 0px 10px #00ffcc;
    border-radius: 8px;
  }